<ion-content [fullscreen]="true">

      <div class="login-container">
        <h1>Bem-vindo!</h1>
        <p>Cadastre seu número de celular e escolha um usuário para continuar</p>
        <form class="contact-form">
         <label>Nome de Usuário:</label>
         <input type="text"  name="username" [(ngModel)]="username">
         <label>Número de celular:</label>
         <input type="text" name="userphone" [(ngModel)]="userphone">
         <button class="btn-contact-register" (click)="localLogin()" >Continuar</button>
        </form>
       </div>
</ion-content>
