<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="message-container">
    <div class="message-content">
      <div class="message-card">
        <div class="message-info">
          <div class="profile-pic"></div>
          <h3>User Name</h3>
        </div>
        <div class="message-content">
          <p>Sua mensagem aqui</p>
        </div>
      </div>
    </div>
  </div>

  <div class="message-wrapper-bar">
    <div class="message-wrapper">
      <form class="send-form">
        <input type="text" placeholder="Digite aqui...">
        <button class="btn-send">
          <ion-icon name="send"></ion-icon>
        </button>
      </form>
    </div>
  </div>

</ion-content>
