.menu-container{
    width: 100%;

    .menu-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        border-radius: 5px;

        .btn{
            width: 150px;
            padding: 15px;
            background: #0edd9f;
            color: #222;
            font-size: 12pt;
            font-weight: bold;
            border-radius: 5px;
            display: flex;
            align-items: center;
            transition: all .3s;

            ion-icon{
                margin-right: 10px;
            }
        }

        .btn:active{
            background: #0ebd88;
        }

    }
}