*{
  outline: none;
  padding: 0;
  margin: 0;
}

.home-wrapper{
  padding: 20px;

  .empty-contacts {
    h3{
      text-align: center;
      font-size: 14pt;
      font-weight: bold;
      margin-top: 30px;
      color: #8b8b8b;
    }

    .btn-add-contact{
      width: 100%;
      padding: 15px;
      font-size: 12pt;
      font-weight: bold;
      margin-top: 20px;
      background: #9BEA7D;
      color: #222;
      border-radius: 5px;
      transition: all .1s;
    }:active{
      transform: scale(0.9);
    }
    
  }

  .contact-card{
    width: 100%;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    transition: all .1s;

    .contact-profile{
      width: 40px;
      height: 40px;
      background: #c2c2c2;
      border-radius: 50%;
      margin-right: 10px;
    }

    h3{
      font-size: 12pt;
    }

  }:active{
    transform: scale(0.9);
  }

}
